NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_POLAR_CUSTOMER_PORTAL_URL=https://polar.sh/mohamed-ajedigue/portal
NEXT_PUBLIC_GA_MEASUREMENT_ID=
POLAR_ACCESS_TOKEN=
POLAR_FOUNDER_PRODUCT_ID=
POLAR_WEBHOOK_SECRET=
DEEPGRAM_API_KEY=
